.hero {
  height: 600px;
  background-color: antiquewhite;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.heroContent {
  width: 500px;
}

.heroTitle {
  font-size: 60px;
  font-weight: 400;
  font-family: "Cinzel", serif;
}

/* Button css part  */
.heroBtn {
  margin-top: 20px;
  background: transparent;
  padding: 10px 15px;
}

.heroBtn:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.799);
  color: white;
}

/* image modifiaction  */
.heroImg {
  height: 350px;
}

.heroimage {
  position: relative;
}

.heroImg:first-child {
  position: absolute;
  z-index: 1;
  left: -380px;
  top: -150px;
  transform: rotate(28deg);
}

.heroImg:nth-child(2) {
  position: absolute;
  top: -200px;
  left: -180px; /* Adjust this value to your preference for the overlap. */
  z-index: 2;
  transform: rotate(30deg);
}

/* section one starts here ----------- */
.one {
  margin: 50px 0 100px 0;
  display: grid;
  place-items: center;
  height: 100px;
}

.oneItems {
  display: flex;
  gap: 20px;
}

.oneItem {
  border: 2px solid rgb(247, 199, 136);
  width: 230px;
  height: 120px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

/* Trending section starts here ----------- */

.trending {
  margin-top: 50px;
  text-align: center;
}

.trenTitle {
  font-size: 60px;
  font-family: "Cinzel", serif;
  font-weight: 400;
}

.line {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 20px 0 50px 0;
}
.lineline {
  border-top: 2px solid black;
  width: 50px;
}

.trenProducts {
  display: flex;
  justify-content: center;
}

.trenProduct {
  padding: 20px;
  height: 430px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 20px;
}

.namePrice {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.trenImgs {
  background-color: rgba(250, 235, 215, 0.651);
  height: 380px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trenImg {
  width: 200px;
}

.trenImg:hover {
  position: absolute;
  z-index: 1;
  width: 450px;
}

/* best product section  */
.bestProduct {
  margin-top: 50px;
  text-align: center;
}

.bestProImgs {
  margin-top: 20px;
}

.bestProImg {
  height: 500px;
  border: 20px solid black;
  opacity: 0.95;
}

.bestProImg:hover {
  opacity: 1;
  border: 20px solid rgba(0, 0, 0, 0.765);
}

/* small info about us page */
.aboutUs {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.aboutText{
  margin-bottom: 80px;
}

.aboutText h1 {
  font-size: 60px;
  font-family: "Cinzel", serif;
  font-weight: 400;
}

.aboutText p {
  font-family: "Cinzel", serif;
  font-weight: 400;
}

.aboutInfo {
  display: flex;
  justify-content: space-around;
  text-align: center;
  gap: 30px;
  max-width: 1024px;
  margin: 0 auto;
  height: 300px;
}

.infoBody{
  padding: 20px;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 20px;
  border-radius: 20px;
}

.icons{
  font-size: 5em;
  margin-left: 50px;
  color: rgb(66, 55, 55);
}